@model SessionTickets
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "TicketCart";
}
@{ double totalPrice = 0; }
<h1>Choosed tickets:</h1>
@if (Model.SelectedTickets.Count == 0)
{
    <p>You should choose at least one seat.</p>
    <a href='@Url.Action("Index", "SessionTickets", new { sessionId = Model.Session.Id })'>Move back</a>
}
else
{
<form id="form" method="post" asp-action="ChooseFormAction">
    <input type="hidden" name="sessionId" value="@Model.Session.Id" />
    @{
        for (int i = 0; i < Model.SelectedTickets.Count; i++)
        {
            <div class="ticket">
                <p><b>Title:</b> @Model.Session.Film.Title</p>
                <p><b>Date:</b> @Model.Session.Date.ToShortDateString()</p>
                <p><b>Time:</b> @Model.Session.Time.ToString(@"hh\:mm")</p>
                <p><b>Hall:</b> @Model.Session.Hall.Title</p>
                <p><b>Seat:</b> @Model.SelectedTickets[i].IdSeat</p>
                <p><b>Price:</b> @Model.Session.Price</p>
                <input type="hidden" name="selectedTicketsIds[]" value="@Model.SelectedTickets[i].Id" />
                <input type="button" id="@i" name="deleteButton" value="Delete" onclick="
    document.getElementById('totalPrice').innerHTML = document.getElementById('totalPrice').innerHTML - @Model.Session.Price;
    document.getElementsByName('totalPrice')[0].value = document.getElementById('totalPrice').innerHTML;
                    DeleteTicket(this.id);" />
            </div>
            totalPrice += @Model.Session.Price;
        }
    }
    <div style="display: flex; flex-direction: row;">
        <h2>Total Price: </h2>
        <h2 id="totalPrice">@totalPrice</h2>
        <input type="hidden" name="totalPrice" value="@totalPrice" />
    </div>
    <hr />
    @if (!User.Identity.IsAuthenticated)
    {
        <label><b>Fill the form:</b></label>
        <br />
        <label>Name:</label>
        <input type="text" required name="userName" placeholder="Ivan" />
        <br />
        <label>Email:</label>
        <input type="email" required name="userEmail" placeholder="aaa@gmail.com" />
    }
    else
    {
        <div style="display: flex; flex-direction: row;">
            <h2>Bonuses: </h2>
            <h2 id="bonuses">@UserManager.GetUserAsync(User).Result.Bonuses</h2>
            <input type="button" id="bonusesButton" onclick="PayByBonuses()" value="Use bonuses"/>
        </div>
    }
    <br />
    <input type="submit" class="button" name="formAction" value="Buy tickets" />
    <input type="submit" class="button" name="formAction" value="Book tickets" />
</form>
}

@section Scripts{
    <script src="~/js/TicketCart.js"></script>
}