@model IEnumerable<Session>

@{
    ViewData["Title"] = "Index";
}

<h1>Sessions</h1>

<p>
    <a asp-action="Create">Create New</a>
    <br />
    <a asp-action="CreateInterval">Create Interval of Sessions</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Film
            </th>
            <th>
                Hall
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var session in Model) {
        <tr>
            <td>
                @Html.DisplayFor(_ => session.Date)
            </td>
            <td>
                @session.Time.ToString(@"hh\:mm")
            </td>
            <td>
                @Html.DisplayFor(_ => session.Price)
            </td>
            <td>
                @Html.DisplayFor(_ => session.Film.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => session.Hall.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@session.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@session.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@session.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
