@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Purchases History</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Buying Date
            </th>
            <th>
                @Html.DisplayNameFor(order => order.Ticket.Session.Film.Title)
            </th>
            <th>
                Session Date
            </th>
            <th>
                @Html.DisplayNameFor(order => order.Ticket.Session.Time)
            </th>
            <th>
                @Html.DisplayNameFor(order => order.Ticket.Session.Hall.Title)
            </th>
            <th>
                @Html.DisplayNameFor(order => order.Ticket.Session.Film.Format)
            </th>
            <th>
                Seat
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>
                @order.BuyingDateTime.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(_ => order.Ticket.Session.Film.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => order.Ticket.Session.Date)
            </td>
            <td>
                @order.Ticket.Session.Time.ToString(@"hh\:mm")
            </td>
            <td>
                @Html.DisplayFor(_ => order.Ticket.Session.Hall.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => order.Ticket.Session.Film.Format)
            </td>
            <td>
                @Html.DisplayFor(_ => order.Ticket.IdSeat)
            </td>
            @*
                Place for returning ticket link.
                <td>
            <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@ticket.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>
