@model IEnumerable<Film >

@{
    ViewData["Title"] = "Index";
}

<h1>Films</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annotation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MadeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShownOnScreen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var film in Model) {
        <tr>
            <td>
                @Html.DisplayFor(_ => film.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => film.Annotation)
            </td>
            <td>
                @Html.DisplayFor(_ => film.Genre)
            </td>
            <td>
                @Html.DisplayFor(_ => film.MadeIn)
            </td>
            <td>
                @Html.DisplayFor(_ => film.Format)
            </td>
            <td>
                @Html.DisplayFor(_ => film.ShownOnScreen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@film.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@film.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@film.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
