@model IEnumerable<Hall>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var hall in Model) {
        <tr>
            <td>
                @Html.DisplayFor(_ => hall.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => hall.SeatsNum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@hall.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@hall.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@hall.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
